body{
    margin: 0;
    font-family: 'Poppins';
}

main{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    min-height: 100%;
}

img{
    width: 100%;
}

.panel{
    display: grid;
    grid-template-columns: 1fr;
}
