body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: aliceblue;
}

header{
    background-color: white;
    padding: 20px;
}

nav{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
}