body{
    margin: 20px;
    padding: 10px;
    font-family: "Poppins";
    background-color: #c8fed9;
}

h1,h2,h3{
    color: #737974;
}

p{
    color: #8d958e;
}

header{
    max-width: 100%;
    margin: 40px auto;
    border-bottom: 2px solid #c8d3ca;
}

img{
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}

article.selected{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
}