body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
  }

  hr{
      margin: 40px auto;
      width: 50%;
      color: black;
  }

  .heading{
      font-size: 90px;
  }

  .container {
    border: 4px solid black;
  }
  .grid{
      display: grid;
  }
  .inline-grid{
      display: inline-grid;
  }

  .grid-item {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  .item-1 {
    background-color: #f2fd75;
  }
  .item-2 {
    background-color: #fea66a;
  }
  .item-3 {
    background-color: #b5eef9;
  }
  .item-4 {
    background-color: #effebc;
  }
  .item-5 {
    background-color: #ffb2ae;
  }
  .item-6 {
    background-color: #c1e7ff;
  }
  .item-7 {
    background-color: #f4bcff;
  }
  .item-8 {
    background-color: #ffc4dc;
  }
  .item-9 {
    background-color: #b3ffb5;
  }